/* Newsletter
/* ---------------------------------------------------------- */

.news-feed-header {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0.7;
}

.news-item {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 -3vw;
    padding: 2vw 3vw;
    color: var(--color-base);
    box-shadow: rgba(0,0,0,0.07) 0 -1px 0 inset;
    overflow: hidden;
}
.news-item:first-child {
    box-shadow: rgba(0,0,0,0.07) 0 -1px 0 inset, rgba(0,0,0,0.07) 0 1px 0 inset;
}

.news-item:hover {
    text-decoration: none;
    background: color(var(--color-bg) a(0.6));
}

@media (max-width: 850px) {
    .news-item {
        margin: 0 -6vw;
    }
}

.news-item p {
    margin: 0.3em 0 0 0;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.4em;
    max-height: 2.8em;
    opacity: 0.7;
    transform: translate3d(0,200px,0);
    transition: all 0.5s ease;
}

.news-item:hover p {
    transform: translate3d(0,0,0);
    transition: all 0.30s ease;
}

.news-item time {
    display: block;
    font-size: 1.2rem;
    line-height: 1.2em;
    text-transform: uppercase;
    opacity: 0.6;
    transform: translate3d(0,25px,0);
    transition: all 0.6s ease;
}

.news-item:hover time {
    transform: translate3d(0,0,0);
    transition: all 0.3s ease;
}

.news-item-title {
    margin: 0;
    font-size: 2.4rem;
    line-height: 1.3em;
    transform: translate3d(0,25px,0);
    transition: all 0.5s ease;
}

.news-item:hover .news-item-title {
    transform: translate3d(0,0,0);
    transition: all 0.35s ease;
}

/* .news-item:nth-child(6n+1):hover .news-item-title {
    color: #9d6dbf;
}
.news-item:nth-child(6n+2):hover .news-item-title {
    color: #f15f73;
}
.news-item:nth-child(6n+3):hover .news-item-title {
    color: #98cc4a;
}
.news-item:nth-child(6n+4):hover .news-item-title {
    color: #f76d3c;
}
.news-item:nth-child(6n+5):hover .news-item-title {
    color: #e6c839;
}
.news-item:nth-child(6n+6):hover .news-item-title {
    color: #2ca8c2;
} */

.news-item-img {
    flex-shrink: 0;
    width: 300px;
    margin: -3vw -3vw -3vw 3vw;
    background-color: color(var(--color-bg) a(0.5));
    background-size: cover;
    background-position: center center;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@media (max-width: 1100px) {
    .news-item-title {
        font-size: 2rem;
    }
}

@media (max-width: 700px) {
    .news-item-img {
        width: 40%;
    }
    .news-item-title {
        font-size: 1.8rem;
    }
}
