/*

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css using gulp dev

*/


/* Lib - Local component imports
/* ---------------------------------------------------------- */
@import "vars.css";
@import "components/global.css";
@import "components/ghost.css";
@import "components/lists.css";
@import "components/grid.css";
@import "components/tables.css";
/* @import "components/forms.css"; */
/* @import "components/buttons.css"; */
@import "components/actions.css";
@import "components/hamburger.css";
@import "components/animations.css";


@import "ghost/subscribe.css";
@import "ghost/navigation.css";
@import "ghost/post-feed.css";
@import "ghost/post-content.css";


@import "pages/newsletter.css";


/* Main - Theme styles
/* ---------------------------------------------------------- */

html:before {
    content: "｡＾･ｪ･＾｡  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  Meow  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ‏‏‎  ｡＾･ｪ･＾｡";
    display: block;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    z-index: 9999;
    font-size: 12px;
    font-family: var(--font-sans-serif);
    opacity: 0.4;
}

body {
    font-family: var(--font-sans-serif);
    background: var(--color-outer-bg);
    transition: background 0.3s ease-out;
    transition-delay: 0.25;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}


/* Layout
/* ---------------------------------------------------------- */

.inner {
    max-width: 1500px;
    margin: 0 auto;
}

.site-wrapper {
    position: relative;
    margin: 3vw 3vw 0;
    padding: 3vw;
    background: var(--color-bg);
    box-shadow: 0 0 5px rgba(0,0,0,.02), 0 5px 22px -8px rgba(0,0,0,.1);
}
@media (max-width: 850px) {
    .site-wrapper {
        padding: 6vw;
        margin: 0;
    }
}


.page-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vw 0 5vw;
    max-width: 740px;
    margin: auto;
    text-align: center;
}

.error-head {
    height: 75vh;
}

.error-head h1 {
    margin: 0;
    font-size: 7rem;
    line-height: 1.1em;
    font-weight: var(--font-heavy);
    letter-spacing: 10px;
}

.error-head p {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: color(var(--color-base) l(+50%));
}

.error-link {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
}

.page-head-title {
    margin: 0;
    font-size: 4.2rem;
    color: var(--color-base);
}
@media (max-width: 500px) {
    .page-head-title {
        font-size: 2rem;
    }
}

.page-head-description {
    margin: 0 0 1.6vw;
    color: color(var(--color-border) l(-20%));
    font-size: 2.2rem;
    line-height: 1.35em;
}
@media (max-width: 500px) {
    .page-head-description {
        font-size: 1.6rem;
    }
}

.site-foot {
    margin: 3vw 0 1vw;
    text-align: center;
    color: color(var(--color-border) l(-20%));
    font-size: 1.4rem;
}

.site-foot a {
    color: var(--color-base);
}


/* Site Navigation
/* ---------------------------------------------------------- */




/* Post Feed
/* ---------------------------------------------------------- */



/* Post Content
/* ---------------------------------------------------------- */



/* Author Archive
/* ---------------------------------------------------------- */

.author-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: color(var(--color-border) l(-20%));
}

.author-links {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.author-links a {
    display: block;
    margin: 0;
    padding: 0 12px;
    color: var(--color-base);
    opacity: 0.4;
}

.author-links a:hover {
    text-decoration: none;
    opacity: 1;
}

.author-links .divider {
    display: inline-block;
    margin: 0 3px;
}

/* Page Template
/* ---------------------------------------------------------- */

.page-template .post-content-body h1,
.page-template .post-content-body h2,
.page-template .post-content-body h3 {
    text-align: center;
}

/* Ghost CTA Footer
/* ---------------------------------------------------------- */

.ghost-cta {
    position: relative;
    display: block;
    padding: 8vw 3vw 10vw;
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.5em;
    color: var(--color-base);
    text-decoration: none;
    opacity: 0.7;
}

.ghost-cta:hover {
    text-decoration: none;
    opacity: 1;
}

.ghost-cta small {
    position: absolute;
    right: 0;
    bottom: 3vw;
    left: 0;
    text-align: center;
    font-size: 13px;
    opacity: 0.6;
}

@media (max-width: 900px) {
    .ghost-cta {
        max-width: 600px;
        margin: 0 auto;
        padding: 8vw 6vw 12vw;
        font-size: 1.6rem;
    }
}

